<div id="content">
	<div id="dishinLeftStrip">
		<span id="dishinLogo"></span>
	</div>
	<div id="fullLogo"></div>
	<div id="loginContainer">
		<h3 class="homeHeader">LOGIN WITH</h3>
		<div id="socialContainer">
			<a id="facebook" href="/facebookSignup">
				<img src="/images/facebook.png" />
			</a>
			<a id="instagram" href="/instagramSignup">
				<img src="/images/instush.png" />
			</a>
			<a id="google" href="/googleSignup">
				<img src="/images/google.png" />
			</a>
			<a id="twitter" href="/twitterSignup">
				<img src="/images/twitter.png" />
			</a>
		</div>
		<p>or</p>
		<form id="signupForm" action="/signup" method="post">
			<input class="txtInput" value="" name="email" placeholder="Email" />
			<input class="txtInput" type="password" value="" name="password" placeholder="Password" />
			<input type="submit" value="Create an Account" class="button" />
		</form>
	</div>
</div>