<div id="container"></div>
<a href="/logout">Logout</a>
<a href="/backoffice">BackOffice</a>
<script>
	const restaurants = <%- JSON.stringify(restaurants) %>;
</script>
<script src="js/bundles/bundle.js"></script>