@font-face {
	font-family: "BebasNeue Regular";
	src: url("../fonts/BebasNeue-Regular.ttf");
}
@font-face {
	font-family: 'Lato-Regular', sans-serif;
	src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
	font-family: 'Lato-Bold', sans-serif;
	src: url("../fonts/Lato-Bold.ttf");
}

* {
	outline: 0; margin: 0; padding: 0;
}

html {
	overflow: hidden;
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}
::-webkit-scrollbar {
	width: 0px;  /* remove scrollbar space */
	background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #FF0000;
}

body {
	height: 100%;
}

.btn-outline-primary { cursor: pointer; }

.example-appear {
	opacity: 0.01;
}

.example-appear.example-appear-active {
	opacity: 1;
	transition: opacity .5s ease-in;
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-floppy-save            {  content: "\e175";  }

#content {
	width: 100%;
	height:100%;
	background: url(../images/backgroundRest.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 7% 0;
	text-align: center;
	position: relative;
}
#content.details {
	padding:2% 0;
}

.red {
	color: red;
	height: 20px;
}

h3 {
	color:#353d49;
	padding: 40px;
}

#restForm {
	padding-top:70px;
}

#restForm > div *{
	vertical-align: middle;
}

#restForm > div > label { 
	vertical-align: middle;
}
/* 
#restForm > div span {
	width: 316px;
	display: inline-block;
	text-align: left;
	font-size: 20pt;
} */

#restForm input, #restForm textarea{
	display: inline-block;
}

#restForm textarea {
	width:43%;
	resize: none;
}

.form-control {
	line-height: 1.5;
}

#restForm input:not([type]), input[type="text"], #restForm textarea
{
}

li {
	list-style-type: none;
}

#restForm > div span.hours {
	display: inline-block;
	height: 36px;
	width: 25%;
}

#restForm > div span.day {
	width:34%;
	font-size: 16pt;
}

#restForm > div span.inline {
	display:inline;
	font-size: 16pt;
}

#restForm input.rc-time-picker-input{
	width:80%;
	background-color: rgba(220, 220, 220, 0.42);
	border-radius: 20px;
	border: transparent;
	height:36px;
}

#restForm > div ul{
	vertical-align: text-top;
	padding:0;
}

#restForm input[type='checkbox'] {
	margin-right: 5px;
	margin-top: -5px;
}

button {
	cursor: pointer;
	margin-left: 8%;
}

.autocompleteRoot {
	display: inline-block;
	width:43%;
	position: relative;
	z-index: 100;
}

.form-group {
	text-align: left;
	margin-bottom: 2rem;
}

.form-group.name .autocompleteRoot {
	z-index:101;
}

#navigationPane {
	width:22%;
	direction: rtl;
	float:right;
}

#navigationPane > a{
	display: block;
}

#createRest{
	clear: both;
	float: right;
}

.clear {
	clear:both;
}

.buttons {
	padding: 20px 0;
}

.buttons > button {
	margin-top:10px;
}

#content > h1 {
	color: #fff;
	padding-top: 55px;
	font-size: 38px;
}

#content > h3 {
	font-size:28px;
	color: #fff;
	padding:100px 0 30px;
}

#triangle {
	width: 0px;
	height: 0px;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 18px solid #fff;
}

#container {
	position: relative;
}

#formContainer {
	width: 60%;
	margin:40px 0;
}

#formContainer > span {
	text-align: center;
}

#formContainer h4 {
	text-align: center;
	font-size: 28pt;
	color: #000;
}

.form-control {
	background-color: rgba(220, 220, 220, 0.42);
	border-radius: 20px;
	border: transparent;
}

.form-control:focus {
	background-color: rgba(220, 220, 220, 0.42);
}

#restForm button {
	color: #fff;
	background-color: #ed3a3a;
	font-family: Lato-Regular, Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	width: 40%;
	height: 55px;
	border: transparent;
	border-radius: 30px;
	box-shadow: 2px 2px 4px #888888;
	margin: 0 auto 55px;
}

#rightStripTop {
	position: absolute;
	right:0;
	width: 317px;
	height: 451px;
	background: url('../images/rightStripTop.png') 0 0 no-repeat;
}

#leftStrip {
	position: absolute;
	left:0;
	top:135px;
	width:142px;
	height:1088px;
	background: url('../images/leftStrip.png') 0 0 no-repeat;
}

#bottomRightScript {
	background: url('../images/bottomRightStrip.png') 0 0 no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 308px;
	height: 560px;

}

.hoursPopup, .hoursPopup > div {
	width: 35%;
}

li.tag {
	font-size: 16pt;
}

.styledCheckbox{
	width: 25px;
	line-height: 16pt;
	position: relative;
}

.styledCheckbox label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	text-indent: 35px; 
	background: #eee;
	border:1px solid #ddd;
}

.styledCheckbox label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

.styledCheckbox label:hover::after {
	opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.styledCheckbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

#loginContainer {
	width: 31%;
	margin: 0 auto;
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 14px;
}

#dishinLeftStrip {
	width:62px;
	background-color: rgba(86, 86, 86, 0.5);
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 1;
}

#dishinLeftStrip.navigationPane {
	background-color: rgba(86, 86, 86, 1);
}

#dishinLogo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: url(../images/closh.png) 12px 20px no-repeat, #ed3b3a;
	width: 62px;
	height: 62px;
}

#fullLogo{
	background: url(../images/mainLogo.png) 0 0 no-repeat;
	width:175px;
	height: 120px;
	margin:0 auto 40px;
}

h3.homeHeader {
	font-family: 'BebasNeue Regular';
	color: #525252;
	font-size: 42px;
	font-weight: bold;
	padding: 25px 0 18px;
	border-bottom: 1px solid #979797;
	width: 70%;
	margin: 0 auto;
}

#socialContainer {
	height: 92px;
	padding: 40px 0;
}

#socialContainer > a {
	width:45px;
	height:45px;
	display:inline-block;
}

#socialContainer > a:hover {
	opacity: 0.6;
}

#instagram {
	margin: 0 15px;
}

#google {
	margin-right: 15px;
}

#loginContainer > p {
	color: #282828;
	font-size: 18px;
	margin-bottom: 30px;
}

#signupForm > input.txtInput {
	border: transparent;
	border-radius: 30px;
	color: #3e2a2b;
	font-size: 15px;
	font-family: Lato-Regular, Helvetica, Arial, sans-serif;
	display: block;
	margin: 0 auto 24px;
	background-color: #eeeeee;
	width: 70%;
	height: 55px;
	opacity: 0.7;
	text-indent: 30px;
}

input.button {
	color: #fff;
	background-color: #ed3a3a;
	font-family: Lato-Bold, Helvetica, Arial, sans-serif;
	font-size: 19px;
	text-align: center;
	width: 70%;
	height: 55px;
	border: transparent;
	border-radius: 30px;
	margin-bottom: 55px; 
	box-shadow: 2px 2px 4px #888888;
}

input.button:hover, button:hover {
	opacity: 0.6;
}

#appNavigation {
	margin-top: 100px;
	text-align: center;
	width: 100%;
}

#appNavigation .icon {
	display: block;
	margin: 0 auto;
	width: 21px;
	height:20px;
	cursor: pointer;
}

#appNavigation .icon.dashboard {
	background: url(../images/dahboard_icon.png) 0 0 no-repeat;
}

#appNavigation .icon.menus {
	background: url(../images/menus_logo.png) 0 0 no-repeat;
}

#appNavigation .icon.categories {
	background: url(../images/categories.png) 0 0 no-repeat;
	height: 18px;
}

#appNavigation .icon.dishes {
	background: url(../images/dishes.png) 0 0 no-repeat;
}

#appNavigation > div:hover .icon.dashboard, #appNavigation > div.active .icon.dashboard{
	background: url(../images/dashboard_red.png) 0 0 no-repeat;
}

#appNavigation > div:hover .icon.menus, #appNavigation > div.active .icon.menus{
	background: url(../images/menus_red.png) 0 0 no-repeat;
}

#appNavigation > div:hover .icon.categories, #appNavigation > div.active .icon.categories{
	background: url(../images/categories_red.png) 0 0 no-repeat;
	height: 18px;
}

#appNavigation > div:hover .icon.dishes, #appNavigation > div.active .icon.dishes {
	background: url(../images/dishes_red.png) 0 0 no-repeat;
}


#appNavigation > div {
	position: relative;
	cursor: pointer;
}

#appNavigation .navTitle {
	color:#fff;
	font-family: Lato-Regular, sans-serif;
	font-size: 10px;
	font-weight: 100;
	margin-top: 5px;
	padding-bottom: 25px;
	display: block;
	cursor: pointer;
}

/* #appNavigation > div:hover .navTitle, #appNavigation > div.active .navTitle {
	color:#ed3b3a;
} */

#appNavigation .icon.dishes + span {
	margin-top: -3px;
}

.indicator {
	visibility: hidden;
	width: 5px;
	height: 38px;
	background: url(../images/indicator.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	right: -2px;
	top: -6px;
}

#appNavigation > div.active .indicator {
	visibility: visible;
}

#loginControl {
	position: absolute;
	top: 20px;
	left: 300px;
}

#loginControl > a {
	margin-left: 10px;
}

#popupFormContainer {
	position: relative;
	width: 30%;
	min-width: 480px;
	border: 1px solid #979797;
	margin: 0 auto;
	border-radius: 20px;
	background: #fff;
}

#popupFormContainer h4{
	font-family: 'BebasNeue Regular';
	color: #525252;
	font-size: 40px;
	font-weight: bold;
	margin: 45px auto 18px;
	border-bottom: 1px solid #979797;
	width: 60%;
	text-align: center;
}

#popupFormContainer form#restForm{
	padding-top: 0;
	margin-top: 15px;
	width: 100%;
	text-align: center;
}

#baseRestForm {
	width: 58%;
	margin: 0 auto;
	margin: 0px auto 55px;
}

#baseRestForm label {
	text-indent: 10px;
}

#baseRestForm input, #baseRestForm .autocompleteRoot, #baseRestForm textarea {
	width:100%;
}

#baseRestForm > div span {
	color:rgba(62, 42, 43, 0.5);
	font-family: Lato-Bold, Helvetica, Arial, sans-serif;
	font-size: 15px;
}

#popupFormContainer.details {
	width:34%;
	min-width: 650px;
}

#popupFormContainer.details h4{
	font-size: 50px;
	width:83%;
	letter-spacing: 3px;
}

#detailsRestForm {
	width: 80%;
	margin: 0 auto;
}

#detailsRestForm > div span:not([class^="irs"]) {
	color:rgba(62, 42, 43, 0.5);
	font-family: Lato-Regular, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}
#detailsRestForm > div span.header {
	margin: 30px 0 30px 10px;
	display: block;
}

#detailsRestForm input[type='checkbox'] {
	margin-top: -9px;
	margin-left: 2px;
}

#detailsRestForm .styledCheckbox label:after {
	left: 5px;
}

#detailsRestForm .styledCheckbox label {
	border: transparent;
	border-radius: 5px;
	width:18px;
	height:18px;
	font-size: 18px;
	font-weight: 100;
	font-family: Lato-Regular, Helvetica, Arial, sans-serif;
	line-height: 18px;
	text-indent: 28px;
}

#detailsRestForm .tag {
	width: 33%;
	float: left;
}

#detailsRestForm > div span.day {
	background-color: rgba(216, 216, 216, 0.7);
	color: #aaaaaa;
	font-family: Lato-Bold, Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-radius: 3px;
	border: transparent;
	padding: 3px 4px;
	margin-left: 10px;
	width:42px;
	text-align: center;
	font-weight: 400;
	cursor: pointer;
	display: inline-block;
}

#detailsRestForm > div span.day:hover {
	opacity: 0.6;
}

#detailsRestForm > div span.day.on {
	color:#ff7a7a;
}
/* #detailsRestForm > div span.day + span {
	margin:-14px 0 25px 15px;
} */

#detailsRestForm > div .sliderContainer {
	width:85%;
	display: inline-block;
	margin-left:15px;
}

.backBtn {
	background: url(../images/back.png) 0 0 no-repeat;
	width: 14px;
	height: 24px;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 56px;
	left: 77px;
}

.backBtn:hover {
	background:url(../images/back_hover.png) -1px -1px no-repeat;
}

.hidden {
	display:none;
}

#header {
	border-bottom: 1.5px solid rgba(151, 151, 151, 0.6);
	min-height: 30px;
	padding: 0.85% 0 0.75% 0;
	width: 95%;
	margin: 0 74px 0 80px;
	line-height: 28px;
}

.headerText {
	font-family: 'BebasNeue Regular';
	color: #525252;
	font-size: 28px;
	line-height: 28px;
	font-weight: bold;
	display: inline-block;
}

#userAreaContainer > a {
	text-decoration: none;
	color: #000;
	height: 35px;
	display: inline-block;
	border-right: 1px solid;
	padding-right: 16px;
	line-height: 40px;
}

#userAreaContainer img{
	border-radius:50%;
	height:28px;
	width: 28px;
	margin-right: 8px;
}

#userAreaContainer {
	float:right;
	font-family: Lato-Regular, Helvetica, Arial, sans-serif;
}

#menusContainer {
	width: 95%;
	margin:0 auto;
}

.noElementsBtn {
	height:140px;
	width:140px;
	border: 1px solid #7f000000;
	margin: 20% auto;
	box-shadow: 0px 2px 5px #888888;
	border-radius: 10%;
	cursor: pointer;
	font-size:12px;
	text-align: center;
}
.noElementsBtn:hover .plusIcon {
	background: url(../images/plus_on.png) 0 0 no-repeat;
}

.plusIcon {
	background: url(../images/plus_off.png) 0 0 no-repeat;
	width: 46px;
	height: 46px;
	margin: 33.3% auto 24px;
	display: block;
}

.notifications {
	display: inline-block;
	width: 28px;
	height: 25px;
	background: url(../images/notification_off.png) 0 0 no-repeat;
	vertical-align: middle;
	margin-left: 12px;
}

.notifications.active {
	background: url(../images/notification_on.png) 0 0 no-repeat;
	cursor: pointer;
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(105,105,105,0.75); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#popupFormContainer.menuPopupContainer {
	position: absolute;
	width: 30%;
	min-width: 480px;
	border: 1px solid #979797;
	margin: 0 auto;
	border-radius: 20px;
	background: #fff;
	z-index: 3;
	left: 35%;
}

.closeBtn {
	background: url(../images/x_circle.png) 0 0 no-repeat;
	width: 24px;
	height:24px;
	position: absolute;
	right: 25px;
	top: 25px;
	cursor: pointer;
}

