<div id="backofficeContainer">
	<form  enctype="multipart/form-data" action="/backoffice/uploadRest" method="post">
		<input type="file" name="restaurantData" value="Upload Excel file" accept=".xls, .xlsx" />
		<input type="submit" value="Upload" />
	</form>
</div>